<div class="container mt-5" >
    <div class="row">
      <div class="alert alert-success" style="position: absolute; top: 100px; left: 210px; width: 1100px">
          <strong>Inscripción a un curso/Automatricularme</strong>
      </div>
      <div id="matricularse" style="position: absolute; top: 170px; left: 198px">
        <button id="disabled">Automatricularme</button>
        <a href="../inscripcion-s"><button id="buttonins">Solicitar matriculación</button></a>
      </div>
      <div class="col-sm-6"  style="position: absolute; top: 227px; left: 200px; width: 1150px">
        <table id="tablaCursos" class="table table-bordered" style="position: absolute; width: 1100px">
            <thead>
              <th>Imagen</th>
              <th>Nombre del Curso</th>
              <th>Docente</th>                                
              <th>Ver curso</th>
            </thead>
            <tbody>
            <tr *ngFor="let item of cursoPersonaService.cursosPersonas">
              <td><img src="../../../assets/pics/logotipoUTNG.png" alt="logotipoUTNG" width="70px" lang="100px"></td>
              <td>{{item.nombre}}</td>
              <td>{{item.cvePersona}}</td>
              <td><a href="../vertemas"><img src="../../../assets/pics/lupa.png" alt="Lupa" width="55px" height="35px"></a></td>
              <td><button id="button2">Matricularme</button></td>
            </tr>
            </tbody>
        </table>
      </div>
        <i class="glyphicon glyphicon-user"></i>
      </div>
    </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  
  
              
